body{
    background-color: #f2f2f2;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color:#555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    color: #333;
}
p {
    line-height: 28px;
}
.centered{
    text-align: center;
}

a:hover, a:focus{
    color:#7b7b7b;
    text-decoration: none;
    outline: 0;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top:1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.navbar{
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-inverse{
    background-color: #2d2d2d;
    border-color:#2d2d2d;
}
.navbar-inverse .navbar-nav > .active > a {
    background-color: #ff7878;
}
.navbar-inverse .navbar-brand{
    color:#999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}
.our-logo{
   color: #f2f2f2;
}
.left-bar{
    width: 100%;
    min-height: 741px;
    background-color: #ffb510;
    position: relative;
}
.last-transactions{
    position: absolute;
    top: 109px;
    font-size: 22px;
}
.current{
    position: absolute;
    top: 349px;
    margin-top: 15px;
}
.course{
    margin-left: 20%;
}
.vertical-line {
    width: 1px;
    top: 28%;
    height: 122px;
    left: 23%;
    background-color: brown;
    position: absolute;
}

.bitcoin-icon{
    height: 22px;
    margin-top: -1px;
    width: 25px;
    margin-left: 5px;
}

.etherum-icon{
    height: 22px;
    margin-top: -1px;
    width: 25px;
    margin-left: 5px;
}
.stellar-icon{
    height: 22px;
    margin-top: -1px;
    width: 25px;
    margin-left: 5px;
}
.second-vertical-line{
    width: 1px;
    top: 28%;
    height: 122px;
    left: 57%;
    background-color: brown;
    position: absolute;
}
.current-course{
    font-size: 22px;
}
.about-us{
    top: 72%;
    display: flex;
    height: 200px;
    /* margin-top: 0%; */
    flex-direction: column;
    width: 100%;
    background-color: #ffb510;
    position: absolute;
}
.about-us-header{
    margin-top: 3%;
    margin-left: 29%;
    width: 54%;
    border-radius: 2%;
}
.about-us-text{
 font-size: 1em;
}

.contacts-block{
    width: 100%;
    background: #3c3464;
    height: 62px;
    position: relative;
    margin-top: 18px;
}
.our-contacts{
    font-family: 'Noto Sans TC', sans-serif;
    color: #f2f2f2;
}
.tendency{
    left: 60%;
    position: absolute;
}
.fa-arrow-up{
    color: #00ff27;
}
.fa-arrow-down{

    color: #ff0200;
}
.change{
    margin-top: 5%;
    font-size: 2rem;
    background-color: rgba(173, 245, 116, 0.84);
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.change:hover{
    background-color: #40be4b;
}
.pop-out{
    flex-direction: column;
    display: none;
    height: 100vh;
    width: 103%;
    position: absolute;
    background-color: #ffb510;
}
.how-much-input{
    width: 340px;
    height: 30px;
    font-family: Gotham Pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 144.2%;
    background: #F1F2F6;
    border: none;
    border-radius: 14px;
    margin-top: 8px;
    padding-left: 16px;
    color: #878787
}
.card-info-input{
    width: 340px;
    height: 30px;
    font-family: Gotham Pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 144.2%;
    background: #F1F2F6;
    border: none;
    border-radius: 14px;
    margin-top: 8px;
    padding-left: 16px;
    color: #878787
}
.change-btn{
    width: 236px;
    height: 52px;
    font-family: Gotham Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 144.2%;
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    background: linear-gradient(90deg, #6757FF 25.83%, #3D9CFF 79.13%);
    border-radius: 14px;
    margin: 0 auto;
    color: #FFFFFF;
    padding-top: 1px;
}
.pop-out-2{
    display: none;
}
#fountainG{
    left: 15%;
    top: 15%;
    position: absolute;
    width: 234px;
    height: 28px;
}

.fountainG{
    position:absolute;
    top:0;
    background-color:rgb(0,0,0);
    width:28px;
    height:28px;
    animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
    border-radius:19px;
    -o-border-radius:19px;
    -ms-border-radius:19px;
    -webkit-border-radius:19px;
    -moz-border-radius:19px;
}

#fountainG_1{
    left:0;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#fountainG_2{
    left:29px;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#fountainG_3{
    left:58px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#fountainG_4{
    left:88px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#fountainG_5{
    left:117px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#fountainG_6{
    left:146px;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#fountainG_7{
    left:175px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}

#fountainG_8{
    left:205px;
    animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -ms-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
    0%{
        transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainG{
    0%{
        -o-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainG{
    0%{
        -ms-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainG{
    0%{
        -webkit-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainG{
    0%{
        -moz-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}
#wait-please{
    position: absolute;
    left: 15%;
    top:3%;
}